# IBM Applied Data Science Capstone Project. Assignment 1
# Segmenting and clustering neighborhoods in Toronto

This notebook is my solution to the 1st assignment in the Coursera, IBM Applied Data Science Capstone Project.\n The purpose is to scrape data from wikipedia, use Foursquare, segment and cluster, and create maps with Folium.

Assignment:\n
For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.

2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below: (shown on Coursera class site).

In [57]:
#import the dependencies that I'll need
import pandas as pd
import numpy as np

#for data visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [124]:
wiki = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]
wiki.shape

(288, 3)

In [125]:
wiki.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### 3. To create the dataframe:

a. The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

b. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

c. More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma 

d. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

e. Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.

In [126]:
# 3b) drop (ignore) boroughs that are 'Not assigned'. I also correct the spelling of Neighborhood in the dataframe.
wiki.rename(columns={'Neighbourhood':'Neighborhood'}, inplace=True)
wiki = wiki[wiki.Borough != 'Not assigned']
wiki.shape

(211, 3)

In [127]:
wiki.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [128]:
# 3c) Combine rows with multiple neighborhoods for a single postalcode
wiki_df = wiki.groupby(['Postcode','Borough'], sort = False).agg(lambda x: ','.join(x))

In [129]:
wiki_df.head()

                                              Neighborhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Not assigned

In [130]:
# 3d) Fill any 'Not assigned' Neighborhoods with the name of the Borough
wiki_df[wiki_df.Neighborhood == 'Not assigned']

                       Neighborhood
Postcode Borough
M7A      Queen's Park  Not assigned

#### We can see above, that there is only 1 row with a "not assigned" neighborhood value. So I will just change it individually.

In [131]:
wiki_df = wiki_df.replace({'Neighborhood': r'Not assigned'}, {'Neighborhood': "Queen's Park"}, regex=True)

#### ... and now I'll check that I've corrected it...

In [132]:
wiki_df.head()

                                              Neighborhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Queen's Park

In [133]:
wiki_df[wiki_df.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [Neighborhood]
Index: []

In [137]:
# 3d) In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
print ('My dataframe has', wiki_df.shape[0], 'rows')

My dataframe has 103 rows